@font-face {
  font-family: 'term';
  src: url('3270.woff')
}

@font-face {
  font-family: 'coral';
  src: url('coral.ttf')
}

body {
  display: flex;
  padding: 0px;
  margin: 64px;
}

main {
  padding: 5%;
  margin: 2px;
}

nav {
  width: 300px;
  background-color: #111111;
  flex-shrink: 0;
  padding: 4px;
}

.navbtn {
  width: 100%;
  border: none;
  margin-top: 2px;
  font-family: term;
}

html {
  color-scheme: dark;
  background-color: black;
  color: white;
  font-family: term;
}

.redact{
  background-color: white;
  color: white;
}

.msg {
  border: 2px solid #80F;
  border-radius: 4px;
  margin: 8px;
  padding: 4px;
}

h1 {
  color: #ff88ff;
  font-size: 60px;
  font-family: coral;
}

h2 {
  color: #ff88ff;
  font-size: 48px;
  font-family: coral;
}

h3 {
  color: #ff88ff;
  font-size: 32px;
  font-family: coral;
}

h4 {
  color: #ff88ff;
  font-size: 18px;
  font-family: coral;
}

section {
  border: 2px solid #00ffff;
  background-color: #0d0d0d;
}

a {
  color: #008855;
}

a:hover {
  color: #00ff88;
}

a:visited {
  color: #888888;
}

button {
  background-color: #008855;
  color: white;
}

button:hover {
  background-color: #00ff88;
  color: black;
}

input:focus {
  background-color: #ffffaa;
  color: black;
}

textarea:focus {
  background-color: #ffffaa;
  color: black;
}

li:last-child {
  font-style: italic;
}

.plink {
  font-family: term;
}
