@font-face {
  font-family: 'term';
  src: url('3270.woff')
}

@font-face {
  font-family: 'coral';
  src: url('coral.ttf')
}

@media screen and (min-width: 860px) {
  body {
    display: flex;
    padding: 0px;
    margin: 64px;
  }
  nav {
    width: 300px;
    flex-shrink: 0;
    padding: 4px;
    border-radius: 8px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 859px) {
  .navbtn{
    height: 64px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
}

main {
  padding: 5%;
  margin: 2px;
  background-color: #00000088;
}


.navbtn {
  width: 100%;
  border: none;
  margin-top: 2px;
  font-family: term;
}

nav {
  background-color: #111111ee;
  padding: 4px;
}

html {
  color-scheme: dark;
  background-color: black;
  color: white;
  font-family: term;
  background-image: url('bweew.gif');
}

.redact{
  background-color: white;
  color: white;
}

.msg {
  border: 2px solid #80F;
  border-radius: 4px;
  margin: 8px;
  padding: 4px;
}

h1 {
  color: #ff88ff;
  font-family: coral;
}

h2 {
  color: #ff88ff;
  font-family: coral;
}

h3 {
  color: #ff88ff;
  font-family: coral;
}

h4 {
  color: #ff88ff;
  font-family: coral;
}

section {
  border: 2px solid #00ffff;
  background-color: #0d0d0d;
}

a {
  color: #008855;
}

a:hover {
  color: #00ff88;
}

a:visited {
  color: #888888;
}

button {
  background-color: #008855bb;
  color: white;
}

button:hover {
  background-color: #00ff88;
  color: black;
}

input:focus {
  background-color: #ffffaa;
  color: black;
}

textarea:focus {
  background-color: #ffffaa;
  color: black;
}

li:last-child {
  font-style: italic;
}

.plink {
  font-family: term;
}

th {
  border-bottom: solid 4px white;
  background-color: black;
}

td {
  border: solid 2px white;
  background-color: black;
}
